*{
    padding: 0%;
    /* margin: 0%; */
    box-sizing: border-box;
    color: white ;
}
body{
    background-image: url(./stunning-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.links a{
    text-decoration: none;
    color:white;
    /* padding: 20px 0px; */
    /* border-bottom: 2px solid white; */
    /* width: 100px; */
    /* text-align:center ; */
}
.links a:hover{
    color: crimson;
}